* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #00bcd4;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffe437;
    letter-spacing: 1px;
}

.faq-section {
    background: linear-gradient(145deg, #e7f143, #7ae858);
    padding: 60px 40px;
    margin-top: 120px;
    border-radius: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.faq-section:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.faq-title {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 1s ease-in-out;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.faq-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.faq-question {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.faq-answer {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.homework {
    padding: 10px 20px;
    font-size: 1rem;
    background: linear-gradient(to right, #edd436, #21f4c3 );
    color: #fff;
    border: 3px solid #00c8a9;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: fixed;
    bottom: 10px;
    left:20px ;
}
.homework:hover {
    background: linear-gradient(to right, #13dad4, #00ff59);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}