<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body>

<div class="login-container">
    <h2>EduConnect</h2>
    <form action="/login" method="POST">
        <input type="text" class="input-field" name="username" placeholder="Username or Email" required>
        <input type="password" class="input-field" name="password" placeholder="Password" required>
        <button type="submit" class="login-button">Login</button>
        <p style="font-size: 10px;color: red" th:text="${error}"></p>
    </form>
    <a href="#" onclick="forgotPassword()" class="forgot-password">Forgot Password?</a>
</div>

<div class="footer">
    <p>&copy; 2024 EduConnect - All Rights Reserved</p>
</div>

</body>
</html>