<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Registration Update</title>
  <link rel="stylesheet" href="/css/updateStudent.css">
</head>
<body>
<div class="container">
  <div class="title">Admin Update<h4>for Students </h4></div>
  <div class="content">
    <form action="/addStudentSubmit" method="post" enctype="multipart/form-data">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Name</span>
          <input type="text" name="stName" th:value="${studentUpdate.name}" placeholder="Update your name" required>
        </div>
        <div class="input-box">
          <span class="details">Surname</span>
          <input type="text" name="stSurname" th:value="${studentUpdate.surname}" placeholder="Update your surname" required>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="email" name="stEmail" th:value="${studentUpdate.email}" placeholder="Update your email" required>
        </div>
        <div class="input-box">
          <span class="details">Group Number</span>
          <input type="text" name="stGroup" th:value="${studentUpdate.groupNumber}" placeholder="Update your group number" required>
        </div>
        <div class="input-box">
          <span class="details">Fee</span>
          <input type="number" name="stFee" th:value="${studentUpdate.fee}" placeholder="Update the fee amount" required>
        </div>
        <div class="input-box">
          <span class="details">Birthday</span>
          <input type="date" name="stDate" th:value="${studentUpdate.birthDay}" required>
        </div>

      </div>
      <div class="photo-upload">
        <label for="photo">Change Photo</label>
        <input type="file" id="photo" name="photo" accept="image/*">
      </div>
      <div class="button">
        <input type="hidden" name="stPassword" th:value="${studentUpdate.password}">
        <input type="hidden" name="stId" th:value="${studentUpdate.id}">
        <input type="submit" value="Register">
      </div>
    </form>
  </div>
</div>
</body>
</html>